:root {
  --main-text: "Roboto", sans-serif;
  --sub-text-project: "Bebas Neue", sans-serif;
  --main-color: #fff;
  --second-color: #000;
  --main-blue-color: #4086ff;
  --mobile-width: 768px;
  --mobile:368px;
  --max-width: 1200px;
  --icons-color: rgb(180, 180, 180);
  --color-music-app: #d30320;
  --neo-color:#e0e5ec;
  --neo-color-second:#797d7f;
  --primary:  #fff;
  --secondary: #fff;
  --tertiary: #fff;

  /****************Font black or White**********************/

  --red:200;
  --green:60;
  --blue:255;
  --threshold: 0.5;
  --border-threshold: 0;
  --perceived-lightness: calc(var(--sum) / 255);

  --r: calc(var(--red) * 0.2126);
  --g: calc(var(--green) * 0.7152);
  --b: calc(var(--blue) * 0.0722);
  --sum: calc(var(--r) + var(--g) + var(--b));
  --perceived-lightness: calc(var(--sum) / 255);  
  --blackYwhite :hsl(0, 0%, calc((var(--perceived-lightness) - var(--threshold)) * -10000000%));

  --border-alpha: calc((var(--perceived-lightness) - var(--border-threshold)) * 100);
  --bg-play-control :rgba(calc(var(--red) - 50), calc(var(--green) - 50), calc(var(--blue) - 50), var(--border-alpha));

}

/*********Resets *******/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

/* a{
      color: var(--link-color);
      transition: all 0.5s ease-out;
  } */

/* a:hover{
      opacity: 0.75;
  } */

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 2rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 1.6;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--mobile-width);
  padding: 2rem 1rem;
}

.container-no-margin {
  position: relative;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: beige;
  overflow-x: hidden;
}


.container-mb::-webkit-scrollbar {
  display: none; 
}

.container-mb-ini {
  position: relative;
  width: var(--mobile-width);
  height: 90vh;
  background-color: var(--second-color);
}



/********************************Hero image background******************************************/

.hero-img-bg {
  position: relative;
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.5),rgba(1, 1, 1, 1)),url(../img/bg-main/bg-2.avif);
  /* filter: brightness(40%); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;

}

/**********************************************Pantalla de inicio*****************************************************/

/* .title-project{
  color: #fff;
  font-family: var(--sub-text-project);
} */

.container-ini {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/********************************Efecto css titulo****************************************/

.reveal {
  animation-name: reveal;
  animation-duration: 100ms;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}

.title-project {
  position: relative;
  z-index: 999;
  color: var(--main-blue-color);
  font-size: 10vw;
  letter-spacing: 8px;
  text-align: center;
  font-family: var(--sub-text-project);
  width: 85%;
  opacity: 0;
}

.title-project::before {
  content: "PROJECT 2 MUSIC APP";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(45deg,
      transparent 0,
      transparent 2px,
      white 2px,
      white 4px);
  -webkit-background-clip: text;
  opacity: 0;
  top: 0px;
  left: 0;
  z-index: -1;
  animation-name: upperletter;
  animation-duration: 1s;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}

.title-project::after {
  content: "PROJECT 2  MUSIC APP";
  position: absolute;
  color: transparent;
  background-image: repeating-linear-gradient(135deg,
      transparent 0,
      transparent 2px,
      white 2px,
      white 4px);
  -webkit-background-clip: text;
  opacity: 0;
  top: 0px;
  left: 0px;
  animation-name: lowerletter;
  animation-duration: 1s;
  animation-delay: 800ms;
  animation-fill-mode: forwards;
}

#main,
#searchs,
#playlists,
#favs{
  opacity: 0;
}

.reveal-section{
 animation-name: reveal;
 animation-duration: 156ms;
 animation-fill-mode: forwards;
}

.hidden-section{
  animation-name: hiddens;
  animation-duration: 356ms;
  animation-fill-mode: forwards;
 }

/* .title-project:hover:before {
  top: 10px;
  left: 10px;
}

.title-project:hover:after {
  top: -10px;
  left: -10px;
}  */

@keyframes hiddens {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


@keyframes reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes upperletter {
  from {
    opacity: 0;
    top: 20px;
    left: 20px;
  }

  to {
    opacity: 1;
    top: 0px;
    left: 0px;
  }
}

@keyframes lowerletter {
  from {
    opacity: 0;
    top: -30px;
    left: -30px;
  }

  to {
    opacity: 1;
    top: 0px;
    left: 0px;
  }
}

@keyframes favsreveal {
  from{
    opacity: 0;
    transform: translateY(180%);
  }
  to{
    opacity: 1;
    transform: translateY(0%);
  }
}

/************Transicion de pantallas****************/


.h-screen{
  animation-name: hscreen;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
}

@keyframes hscreen{
  form{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

.up-screen{
  animation-name: upscreen;
  animation-duration: 156ms;
  animation-fill-mode: forwards;
}


@keyframes upscreen{
  form{
    transform: translateY(100%);
  }
  to{
    transform: translateY(0%);
  }
}

.down-screen{
  animation-name: downscreen;
  animation-duration: 156ms;
  animation-fill-mode: forwards;
}


@keyframes downscreen{
  form{
    transform: translateY(0%);
  }
  to{
    transform: translateY(100%);
    opacity: 0;
  }
}


/**********************************Boton de inicio****************************************/

.container-b-start {
  position: relative;
  background: aliceblue;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  opacity: 0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: all 356ms ease;
}

.container-b-start:active {
  transform: scale(0.8);
}

.container-b-start:hover .button-start {
  color: var(--main-color);
}

.container-b-start:hover svg {
  fill: var(--main-color);
}

.container-b-start:hover {
  background: linear-gradient(142deg, rgba(144, 150, 241, 1) 1%, rgba(112, 97, 250, 1) 50%, rgba(64, 134, 255, 1) 100%);
  color: var(--main-color);
}


.button-start,
.button-start:visited {
  font-family: var(--sub-text-project);
  color: var(--main-blue-color);
  padding-left: 0.5rem;
  transition: color 300ms ease;
}

.container-b-start svg {
  width: 40px;
  height: 40px;
  fill: url(#grad1);
}

/*******************************Footer*****************************************/

.footer-ini {
  font-family: var(--sub-text-project);
  text-align: center;
  color: var(--main-blue-color);
}

.footer-ini a:visited {
  color: var(--main-blue-color);
  text-decoration: none;
}

/******************************MUSIC APP MAIN STYLES********************************************/

.container-slide-menu{
  position: relative;
  height: 680px;
  width: 50%;
  box-shadow: 9px 9px 16px rgba(163,177,198,0.6), -9px -9px 16px rgba(255,255, 255, 0.05);
}

.main-menu{
  position: relative;
  width: var(--mobile);
  /* height: auto; */
  overflow-y: scroll;
  border-radius: 12px;
  /* box-shadow: 9px 9px 16px rgba(163,177,198,0.6), -9px -9px 16px rgba(255,255, 255, 0.05); */
}

.main-menu::-webkit-scrollbar {
  display: none; 
}


.container-mb {
  position: relative;
  background: var(--main-color);
  width:  var(--mobile-width);
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container-main-slide{
  position: relative;
  width: var(--mobile);
  height: 680px;
  border-radius: 12px;
  box-shadow: 9px 9px 16px rgba(163,177,198,0.6), -9px -9px 16px rgba(255,255, 255, 0.05);
  overflow: hidden;
  opacity: 0;
  animation-name: reveal;
  animation-duration: 50ms;
  animation-fill-mode: forwards;
  transform: translateY(100%);
  
}

.container-up{
  transition: transform 256ms ease-in-out;
  transform: translate(0);
}

/* .container-main-slide::-webkit-scrollbar {
  display: none; 
 */


.slider-menu{
  position: relative;
  height:100%;
  width: 500%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: transform 256ms ease-in-out;
}

.slider-menu::-webkit-scrollbar {  
  display: none;
}

.seccion-menu{
  width: var(--mobile);
  height: 100%;
  overflow-y: hidden;
}

.test h2{
  text-align: center;
}

/************************************MUSIC APP NAV BAR*********************************************************/

.menu-nav-music {
  background-color: var(--main-color);
  position: absolute;
  bottom: 0px;
  z-index: 997;
  display: flex;
  flex-direction: row;
  width: var(--mobile);
  height: 50px;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 12px 12px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  transition: opacity ease-in-out 156ms;
}

.icons-menu {
  border: 0;
  background-color: transparent;
}

.icons-menu svg {
  fill: var(--icons-color);
  transition: fill 350ms ease;
  filter: drop-shadow(2px 3px 2px rgb(0 0 0 / 0.2));
  pointer-events: none; 
}

.icons-menu:hover svg{
  fill: var(--color-music-app);
}

.menu-nav {
  color: #E5E5E5;
}

/*********************************MUSIC APP DISCOVER****************************************/

.container-discover{
  /* width: var(--mobile-width); */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color:red; */

}

.container-discover-title {
  padding-top: 1rem;
  width: 100%;
}

.discover-title {
  background-color: var(--main-color);
}

.discover-title,
.mg-title,
.ta-title {
  text-align: center;
  font-family: var(--main-text);
  font-size: 1rem;
  /* text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2); */
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.15);
}


.container-discover-slider {
  position: relative;
  width: 100%; 
  display: flex;

}


/**********************Top artistas****************************/

.container-top-artists {
  /* background-color: var(--second-color); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}


.block-top-artists {
  width: 100%;
  display: grid;
  grid-template-columns: 45% 45%;
  justify-items: center;
  justify-content: center;
  padding: 2rem 0 2rem 0;
  margin-top: 1rem;
  background: linear-gradient(360deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
}

.container-logo-p,
.container-title-ta,
.container-mg-title {
  padding: 1rem 0 0 1rem;
  width: 100%;
  background-color: var(--main-color);
}



.container-mg-title{
  padding-top: 1rem;
}


.logo-principal {
  margin-bottom: 1rem;
  font-family: var(--sub-text-project);
  padding-left: 1rem;
  width: 180px;
  opacity: 0;
  /* pointer-events: none; */
  letter-spacing: 0.5rem;
  transform: translateX(45%);
  transition: opacity 256ms ease-out, box-shadow 256ms ease-out, transform 256ms ease-out;
}

.logo-principal span{
  display:inline-flex;
}

.logo-principal span:nth-child(even){
  overflow:hidden;
  transition: ease-in-out 0.5s;
  letter-spacing:-5rem;
}

.logo-text span:nth-child(even){
  letter-spacing:0.5rem;
  transition-delay:0s;
}

.shadow-effect{
  width: 80px;
  box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px, rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px, rgba(0, 0, 0, 0.05) 25px 25px;
}

.translate-effect{
  transform: translateX(0);
}

.card-a-body {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 256ms ease-in-out;
}

.card-a-body:hover{
  transform: scale(1.2);
}

.card-artists-name {
  padding: 0.8rem 0 0.5rem 0;
  text-align: center;
  font-family: var(--sub-text-project);
  color: #fff;
  letter-spacing: 1.5px;
}

.card-a-body img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
  pointer-events: none;
}

#img-artists{
  pointer-events: none;
  opacity: 0;
  position: absolute;
  width: 100px;
  height: 100px;
 }

/* #artists-picture-1{
 width: 120px;
 height: 120px;
 border-radius: 50%;
} */

/*************************************Carousel MUSIC APP********************************************/

.swiper-container {
  padding-top: 20px;
  padding-bottom: 30px;
  overflow: hidden;
  background-color: var(--main-color);
}

.discover-slider {
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 250px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

.discover-sub-title {
  font-family: var(--sub-text-project);
  color: var(--main-color);
  /* background: linear-gradient(90deg, hsla(214, 92%, 47%, 1) 0%, hsla(231, 85%, 24%, 1) 100%); */
  width: 60%;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
  text-align: center;
  letter-spacing: 2px;
  pointer-events: none;
}

.bg-discover {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 6px;
  transition: opacity 156ms ease-in-out;
}

.bg-discover:active{
  opacity: 0.2;
}

#bg-d-1 {
  background-image: url(../img/bg-discover/1.jpg);
}

#bg-d-2 {
  background-image: url(../img/bg-discover/2.jpg);
}

#bg-d-3 {
  background-image: url(../img/bg-discover/bg-cover1.jpeg);
}

.container-musicals-gender {
  /* width: var(--mobile-width); */
  /* background-color: var(--second-color); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-gender-musicals {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: var(--main-color);
  padding-bottom: 2rem;
}

.swiper-container-g {
  width: 90%;
  overflow: hidden;
  padding: 2rem 1rem 3rem 1rem;
}

.mg-slider {
  width: 70px;
  height: 100px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.bg-music-g {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: opacity 156ms ease;
}

.bg-music-g:active{
  opacity: 0.2;
}




.gender-music-title {
  font-family: var(--sub-text-project);
  color: var(--main-color);
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
  padding: 0 5px 0 5px;
  text-align: center;
  font-size: 1.1rem;
  pointer-events: none;
}

.gender-g{
  font-size: 0.9rem;
}

#bg-g-1 {
  background: linear-gradient(180deg, hsla(318, 44%, 51%, 1) 0%, hsla(347, 94%, 48%, 1) 100%);
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

#bg-g-2 {
  background: linear-gradient(180deg, hsla(185, 64%, 51%, 1) 0%, hsla(277, 74%, 24%, 1) 100%);
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

#bg-g-3 {
  background: linear-gradient(45deg, hsla(17, 95%, 50%, 1) 0%, hsla(42, 94%, 57%, 1) 100%);
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

#bg-g-4 {
  background: linear-gradient(45deg, hsla(136, 48%, 54%, 1) 0%, hsla(58, 99%, 48%, 1) 100%);
  width: inherit;
  height: inherit;
  border-radius: 10px;
}

#bg-g-5 {
  background: linear-gradient(180deg, hsla(227, 100%, 84%, 1) 0%, hsla(317, 29%, 42%, 1) 100%);

  width: inherit;
  height: inherit;
  border-radius: 10px;
}

#bg-g-6 {
  background: linear-gradient(180deg, hsla(248, 21%, 15%, 1) 0%, hsla(250, 14%, 61%, 1) 100%);

  width: inherit;
  height: inherit;
  border-radius: 10px;
}



/**********************************MEDIA PLAYER******************************************/

.block-media-mini-player{
  position: absolute;
  top:  0;
  left: 0;
  width: 100%;
  height: 120px;
  opacity: 1;
  transition: opacity 256ms ease-in;
}

.hidden-mini-player{
  opacity: 0 !important;
  visibility: collapse;
  pointer-events: none;
}

.container-mini-player{ 
  max-height: 120px;
  bottom: 50px !important;
  overflow: hidden;
  border-radius: 0 !important;
}


.block-img-mini-player{
  height: 60px;
  width: 100%;
  background: var(--secondary);
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.block-img-mini-player img{
  width: 42px;
  height: 42px;
  margin-left: 1rem;
  border-radius: 50%;
  
}

.title-track-mini{
  margin-left: 2rem;
  pointer-events: none;
}

.title-track-mini h2{
  font-family: var(--main-text);
  color: var(--blackYwhite);
  font-size: 0.8rem;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
  overflow: hidden;
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
 
}

.title-track-mini span {
  font-family: var(--main-text);
  color: var(--blackYwhite);
  font-size: 0.6rem;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
}

.control-mini-player{
  height: 60px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: thin solid var(--second-color);
}

.mini-backward,
.mini-play,
.mini-forward{
  width: 45px;
  height: 40px;
  border-radius: 0% !important;
  background-color:transparent!important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem 0 0.5rem;
  transition: transform 256ms ease-in-out;
}

.mini-backward:hover,
.mini-forward:hover{
  transform: scale(0.9);
}

.mini-forward svg,
.mini-backward svg{
  fill: var(--second-color);
  /* filter:drop-shadow(1px 2px 1px rgb(0 0 0 / 0.9)); */
  height: 26px;
  width: 26px;
  pointer-events: none;
}

.mini-play svg{
  pointer-events: none;
  filter:drop-shadow(3px 5px 2px rgb(0 0 0 / 0.3));
}


.container-media-player {
  position: absolute;
  /* top: 0; */
  bottom: 0;
  z-index: 998;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--mobile);
  height: 680px;
  opacity: 1;
  transform: translateY(100%);
  border-radius: 12px;
  transition: --primary 0.5s, --secondary 0.5s, --tertiary 0.5s,opacity 256ms ease-in;  
}

.media-player{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  opacity: 1;
  background-image: linear-gradient(0deg, var(--primary) 0%, var(--secondary) 0%, var(--tertiary) 100%);
  box-shadow: -9px -9px 16px rgba(255,255, 255, 0.05); 
  transition: opacity 0.2s ease-in;
}

.container-nav-media {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

}

.logo-x,
.logo-down-arro {
  padding: 0 1em 0 1rem;
}

.logo-x svg,
.logo-down-arro svg {
  width: 30px;
  height: 30px;
  fill: var(--tertiary);
  filter: invert(1) drop-shadow(1px 2px 1px rgb(0 0 0 / 0.9));
  pointer-events: none;
}


.container-cover-track {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cover-tracks {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

.container-seek-bar{
  margin-top: 5rem;
  width:80%;
  height: 6px;
  background-color: var(--main-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
  }


.block-seek-bar{
  position: relative;
  width:0%;
  height: inherit;
  background-color: var(--tertiary);
  filter: invert(1);
  transition: width 0.6s ease;
}

.indicator-seek-bar{
  position: absolute;
  top:50%;
  right: -5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--tertiary);
  transform: translateY(-50%);
}

.container-timer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.min-start,
.min-finish{
  color:var(--blackYwhite) ;
  margin-top: 0.5rem;
  font-family: var(--sub-text-project);
  letter-spacing: 1px;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
}

/* .bg-effect-canvas-track{
  position: relative;
  width: 50%;
} */

.cover-tracks img{
  border-radius: 5px;
  width: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#img-canvas{
  position: absolute;
  width: 50%;
  height: 50%;
  opacity: 0;
  pointer-events: none;

}


.block-media-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 40%;
  width: 65%;
}



.title-album,
.title-track,
.title-artist {
  padding-top: 0.5rem;
  text-align: center;
  font-family: var(--main-text);
  color:var(--blackYwhite);
  text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
  letter-spacing: 2px;
}

.title-album{
  padding-top: 1.5rem;
  display: none;
}

.title-artist{
  padding-bottom: 1rem;
}

.title-track {
  padding-top: 0;
  font-size: 1.2rem;
  /* color: var(--color-music-app); */
}

.title-album,
.title-artist {
  font-size: 0.8rem;
}

.block-music-player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0.5rem 0;
  width: 100%;
}

.block-music-player button{
  cursor: pointer;
  border-radius: 50%;
  /* box-shadow: -8px -8px 20px 0px #fff9, -6px -6px 6px 0px #fff9, 8px 8px 20px #0001, 5px 5px 6px 0px #0001; */
  border-style: none;
  /* background-color: transparent; */
}

.block-music-player button:active{
  box-shadow: inset -8px -8px 20px #fff9, inset -5px -5px 6px #fff9, inset 8px 8px 20px #0003, inset 5px 5px 6px #0001;
}

.mb-play {
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  /* filter: invert(); */
}

.mb-forward,
.mb-backward {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 45px;
  min-height: 45px;
  background-color: transparent;
} 

.mb-play .svg-play,
.mb-play .svg-pause{
  pointer-events: none;
  fill: var(--secondary);
  width: 45px;
  height: 45px;
  /* padding-left: 0.5rem; */
  filter:drop-shadow(1px 2px 1px rgb(0 0 0 / 0.9));
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mb-play .svg-play{
  padding-left: 0.1rem;
}

.mb-play .svg-pause{
  display: none;
  padding-left: 0rem;
}

.svg-pause svg{
  pointer-events: none;
}

.mb-forward svg,
.mb-backward svg {
  fill: var(--blackYwhite);
  pointer-events: none;
  width: 30px;
  height: 30px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.1));

}

.block-music-control {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
  background-color: transparent;
  height: 80px;
  padding: 0.5rem 0 1rem 0;
}

.mb-favorite,
.mb-repeat,
.mb-add-playlist {
  background-color: transparent;
  border-style: none;
  transition: transform 256ms ease-in-out;
}

.mb-favorite:hover,
.mb-repeat:hover,
.mb-add-playlist:hover{
  transform: scale(1.2);
}

.container-repeat,
.container-repeat-one,
.container-shuffle{
  pointer-events: none;
}

.container-repeat-one,
.container-shuffle{
  display: none;
}

.mb-favorite svg,
.mb-repeat svg,
.mb-add-playlist svg {
  fill: var(--blackYwhite);
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  width: 28px;
  height: 28px;
  pointer-events: none;
}

.block-favorite-full{
  display: none;
  pointer-events: none;
}

.block-favorite-stroke{
  display: block;
  pointer-events: none;

}

/*************************************SEARCH BOX***********************************************/

#searchs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-search{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.container-search-list{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border-radius: 12px;
  overflow-y: scroll;
  /* height: auto; */
  padding-bottom: 5rem;
}

.container-search-list::-webkit-scrollbar {
  display: none; 
}


.block-title-search,
.block-title-playlist,
.block-title-favs{
  padding: 1.5rem;
}

.container-track-music{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-height: 0;
  transition: background-color ease-in 150ms;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  opacity: 0;
  /* pointer-events: none; */
  /* border-radius: 12px;
  box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5); */
}

.load-effect{
  opacity: 1;
}

.hidden-load{
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.show-load{
  opacity: 1;
}

.show{
  margin-top: 1rem;
  max-height: 60px;
  opacity: 1;
}

.search-track-title,
.search-artist-title{
  display: block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.search-artist-title{
  padding-top: 0.3rem;
}

.block-infotrack{
  display: flex;
  flex-direction: row;
  align-items: center;
  pointer-events: none;
  width: 100%;
}

.container-track-music .block-t-b,
.search-img-track{
  pointer-events: none;
}

.container-track-music:hover{
  background-color: rgba(0, 0, 0, 0.08); 
}

.block-p-t{
display: flex;
align-items: center;
height: 100%;
}

.block-p-t svg{
  pointer-events: none;
}

.block-t-b{
  padding-left: 1rem;
  width: 100%;
}

.block-t-b h2,
.block-t-b span{
  text-align: left;
  font-family: var(--main-text);
  font-weight: 600;
  color: var(--second-color);
  /* text-transform: uppercase; */
  letter-spacing: 1.5px;
  margin: 0;
}

.block-t-b h2{
  font-size: 0.8rem;
}

.block-t-b span{
 font-size: 0.6rem;
 color: var(--color-music-app);
}

.search-img-track{
  margin-left: 1rem;
  text-align: center;
  width: 55px;
  height: 55px;
  border-radius: 12px;
  box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
}

.b-title-search{
  font-family: var(--sub-text-project);
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--second-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

label{
  /* width: 80%; */
  position: relative;
}

label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 3px;
  width: 15px;
  height: 15px;
  background: url(../img/search.svg);
}

.block-search{
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 12px;
  height: 20px;
  border-style: none;
  box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
}

.block-search::placeholder{
  font-family: var(--main-text);
  font-size: 0.8rem;
}


.block-search:focus{
  outline: none;
}

.block-track-message{
  /* display: none; */
  text-align: center;
  font-family: var(--sub-text-project);
  color: #000;
  letter-spacing: 1px;
  width: 80%;
}

/*****************************MENU ASIDE TRACK****************************************/

.container-menu-aside{
  position: absolute;
  top: 0;
  z-index: 999;
  width: var(--mobile);
  height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  transform: translateY(100%);
}

.effect-m-aside{
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 156ms ease-in-out;
}

.container-f-aside{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-m-aside,
.block-f-aside{
  display: flex;
  height: 20%;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--main-color)
}

.template-track-hidden{
  display: none;
}

.block-f-favs{
  background-color: var(--main-color);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateY(150%);
  opacity: 0;
  display: none;
}

.reveal-favs-icon{
  animation-name: favsreveal;
  animation-duration: 156ms;
  animation-fill-mode: forwards;
}



.block-f-favs img{
  margin-top: 1rem;
  width: 80px;
  height: 80px;
}

.block-f-aside{
  width: 80%;
  height: auto;
  border-radius: 12px;
  opacity: 0;
}


.block-m-aside span{
  cursor: default;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.block-m-aside span,
.block-f-aside .title-playlist-aside{
  font-family: var(--main-text);
  padding-left: 2rem;
  height: 60px;
  font-size: 0.8rem;
  font-weight: 800;
}

.title-playlist-aside{
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: context-menu;
}

.add-favs ,
.add-playlist{
  position: relative;
  transition: background-color ease-in-out 156ms;
}

.add-favs:hover,
.add-playlist:hover{
  background-color: rgba(0, 0, 0, 0.08);
}

/**************************BLOCK PLAYLIST**********************************************/


.container-add-palylist{
  position: relative;
  z-index: 999;
  width: 100%;
  height: 100%;

}

.container-bg-playlist{
 height: 45%;
 position: relative;
 background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 255)),url(../img/playlist-bg.jpg);
 /* filter: brightness(40%); */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.container-bg-playlist-template{
  height: 38%;
  position: relative;
  background-image: linear-gradient(to bottom,rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 255)),url(../img/playlist-bg.jpg);
  /* filter: brightness(40%); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 .block-play-fav-template{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border-style: none;
  background-color: var(--main-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: transform 256ms ease-in-out;
}

.block-play-fav-template:hover{
  transform: scale(0.9);
}

.block-play-fav-template svg{
  padding-left: 5px;
  pointer-events: none;
}

.container-play-fav-template{
  position: absolute;
  left: 30px;
  top: 75%;
}

.block-vacio-list{
  background-color: var(--main-color);
}

.block-playlist-add{
  margin-top: 2rem;
  width: 100%;
  height: 60px;
}

.block-create-playlist h2,
.block-add-music h2,
.block-add-vacio-music h2,
.block-add-fav h2{
  font-family: var(--main-text);
  font-size: 1rem;
  color: var(--neo-color-second);
  padding-left: 1rem;
  pointer-events: none;
}

.block-add-vacio-music h2{
  height: 10px;
}



.block-create-playlist  svg
.block-add-music svg,
.block-add-vacio-music svg
.block-add-fav svg{
 pointer-events: none;
}


.block-create-playlist,
.block-add-music,
.block-add-vacio-music,
.block-add-fav{
  width: 60%;
  height: 100%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: transform ease-in-out 256ms;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.block-add-music,
.block-add-fav{
  margin-top: 3rem;
  height: 8%;
  display: none;
}


.block-add-vacio-music{
  height: 35%;
}

.block-vacio-list{
  height: 120px;
  width: 280px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  display: none;
}

.block-vacio-list h2{
  margin-bottom: 0.5rem;
  font-family: var(--sub-text-project);
  font-size: 1rem;
  text-align: center;
}


.block-create-playlist:hover,
.block-add-music:hover,
.block-add-vacio-music:hover,
.block-add-fav:hover{
  transform: scale(0.9);
}

.b-title-playlist,
.d-title-playlist{
  font-family: var(--sub-text-project);
  color: var(--second-color);
  letter-spacing: 2px;
}

.d-title-playlist{
  text-align: center;
}


.container-select-playlist{
  margin: 1.5rem auto 0 auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.block-select-playlist{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* width: 80%; */
  transition: transform 256ms ease-in-out;
}

.block-select-playlist:hover{
  transform: scale(1.1);
}

.block-select-playlist h2{
  padding-left: 1rem;
  font-family: var(--main-text);
  font-size: 0.8rem;

}

.block-delete-playlist{
  transition: transform 256ms ease-in-out;
}

.block-delete-playlist:hover{
  transform: scale(1.1);
}


.block-delete-playlist svg{
  pointer-events: none;
}

/******************************BLOCK FAV MUSIC****************************************/

.container-add-favs{
  position: relative;
  height: 100%;
}

.b-title-favs{
  font-family: var(--sub-text-project);
  color: var(--main-color);
  letter-spacing: 2px;
  text-align: center;
}

.block-play-fav{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border-style: none;
  background-color: var(--main-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: transform 256 ease-in-out;
}

.block-play-fav:hover{
  transform: scale(0.9);
}

.block-play-fav svg{
  padding-left: 5px;
  pointer-events: none;
}

.container-play-fav{
  position: absolute;
  right: 30px;
  top: 90%;
}

.container-bg-favs{
  height: 45%;
  position: relative;
  background-image: 
    url(../img/fav-music-bg.jpg);
  /* filter: brightness(40%); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

 /**********************************Create Playlist**************************************/


 .modal-add-playlist{
  position: absolute;
  z-index: 997;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateY(100%);
  transition: transform ease-in-out 256ms, opacity ease-in-out 156ms;
 }

 .box-playlist,
 .box-error-playlist,
 .box-pass-playlist,
 .box-error-playlist-name,
 .box-error-playlist-number,
 .box-playlist-check,
 .box-pass-playlist-p,
 .block-check-fav{
  height: 120px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border-radius: 12px;
 }

 .block-check-fav{
  display: none;
 }

 .block-check-fav h2{
  font-family: var(--sub-text-project);
  font-size: 1rem;
  text-align: center;
 }


 .box-playlist-check{
  display: none;
 }

 .box-error-playlist,
 .box-pass-playlist,
 .box-error-playlist-name,
 .box-error-playlist-number,
 .box-pass-playlist-p{
  display: none;
  opacity: 0;
  transform: translateY(-50px);
 }

 .box-pass-playlist img,
 .box-pass-playlist-p img{
  width: 90px;
  height:90px;
 }

 .reveal-error {
  animation-name: errorshow;
  animation-duration: 256ms;
  animation-fill-mode: forwards;
}

.hidden-error{
  animation-name: errorhidden;
  animation-duration: 256ms;
  animation-fill-mode: forwards;
}

@keyframes errorshow {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes errorhidden{
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(50px);
  }
}

 .box-error-playlist h2,
 .box-error-playlist-name h2,
 .box-error-playlist-number h2,
 .box-playlist-check h2{
  font-family: var(--sub-text-project);
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;
 }

 


 .box-btn-playlist input{
  margin-top: 1rem;
  border-radius: 2px;
  border-style: none;
  padding: 0.5rem;
  width: 80px;
  font-family: var(--main-text);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: transform ease-in-out 256ms;
 }

 .box-btn-playlist input:hover{
  transform: scale(0.9);
 }

 .box-btn-playlist input:nth-child(1){
  background-color: red;
  margin-right: 0.5rem;
  color: var(--neo-color);
 }

 .box-btn-playlist input:nth-child(2){
  background-color: var(--main-color);
  color: var(--second-color);
 }


 .container-playlist-list{
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto 0 auto;
  overflow-y: scroll;
  padding-bottom: 14rem;
 }

 .container-playlist-list::-webkit-scrollbar {
  display: none; 
}

.track-playlist-title{
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  pointer-events: none;
}

 #res-playlist{
  outline: none;
  border: 0;
  border-bottom: 2px solid var(--neo-color-second);
 }


 #res-playlist::placeholder{
  font-family: var(--main-text);
 }

 /****************************FAV SECCION***************************************/

 .container-fav-track{
  margin-top: 3.5rem;
  height: 70%;
  overflow-y: scroll;
  padding-bottom: 14rem;
}

.container-fav-track::-webkit-scrollbar {
  display: none; 
}


 .block-fav{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75%;
  pointer-events: none;
 }
  .block-track-fav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-height: 0;
    padding: 0;
    margin: 0 auto 0 auto;
    opacity: 0;
    transition: all 0.2s ease-out;
    border-radius: 12px;
    box-shadow: 9px 9px 16px rgb(163 177 198 / 60%), -9px -9px 16px rgb(255 255 255 / 5%);
    /* transition: transform ease-in-out 156ms; */
  }

  .block-track-fav:hover{
    transform: scale(0.95);
  }


.show-block{
  margin-bottom: 1rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  max-height: 65px;
  opacity: 1;
} 



 .block-track-fav img{
  width: 55px;
  height: 55px;
  border-radius: 5px;
  margin-right: 1rem;


 }
 .track-title-al{
  width: 100%;
  pointer-events: none;
 }

 .track-title-al h2{
  font-family: var(--main-text);
  color: var(--color-music-app);
  font-size: 0.8rem;
 }

 .track-title-al h1{
  font-family: var(--main-text);
  color: var(--second-color);
  font-size: 0.6rem;
 }

 
 .track-title-al h2,
 .track-title-al h1{
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
 }

 .track-fav-submenu {
  display: flex;
  flex-direction: row;
  align-items: center;
 }

 .track-icon-fav,
 .track-icon-pl{
  transition: transform ease-in-out 156ms;
 }

 .track-icon-fav:hover,
 .track-icon-pl:hover{
  transform: scale(0.9);
 }

 .track-icon-fav svg{
  margin-right: 0.5rem;
  width: 28px;
  height:28px;
  pointer-events: none;
  fill: var(--color-music-app);
 }

 .track-icon-pl svg{
  margin-right: 0.5rem;
  width: 28px;
  height:28px;
  pointer-events: none;
  fill: var(--second-color);
 }

 .container-loader,
 .container-loader-artists{
  margin-top: 2rem;
  display: none;
  text-align: center;
 }

 .container-loader img,
 .container-loader-artists img{
  width: 100px;
  height: 100px;
 }

 /************************************Playlist template***************************************/

 .block-music-playlist{
  padding-top: 1.5rem;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow-y: scroll;
  padding-bottom: 4rem;
  background-color: var(--main-color);
 }

 .block-music-playlist::-webkit-scrollbar {
  display: none; 
}

 .block-music-playlist .block-p-t-t{
  padding-right: 1rem;
 }

 .block-p-t-t svg{
  pointer-events: none;
 }

 .block-music-playlist .search-artist-title{
  color: var(--color-music-app);
  /* text-shadow: 2px 2px 3px rgba(0,0,0,1); */
 }
 

/**************************************************************************/

@media screen and (max-width: 1024px) {
  .title-project {
    font-size: 15vw;
  }
}

@media screen and (max-width: 768px) {

  .container-mb{
    height: 100vh;
  }

  .container-mb-ini{
    height: 100vh;
  }

   .main-menu,
   .seccion-menu,
   .container-menu-aside{
    width: 100vw;
    height: 100vh;
    border-radius: 12px;
    border-radius: 0;
  } 

  .container-main-slide{
    height: 100vh;
    width: 100vw;
    border-radius: 0;
  }

  .title-project {
    font-size: 18vw;
  }

  .block-music-player {
    width: 60%;
    padding-top: 0.5rem;
  }
   
  .menu-nav-music {
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-radius: 0;
  }

  .discover-title,
  .mg-title,
  .ta-title {
    font-size: 4vw;
  }

  .discover-slider {
    height: 25vh;
    width: 55vw;
  }

  .mg-slider {
    height: 13vh;
  }

  .gender-music-title {
    font-size: 4.5vw;
  }

  .container-media-player {
    width: 100vw;
    height: 100vh;
    align-items: baseline;
    border-radius: 0;
  }


  .media-player{
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;  
    border-radius: 0px;
  }

  .mb-play{
    width: 70;
    height: 70;
  }

  .container-cover-track {
    width: 100%;
    height: 65%;
  }

  .container-nav-media {
    width: 100%;
    top: 10px;
  }

  .block-media-player {
    width: 100vw;
    height: 35%;
    padding-bottom: 2rem;
  }

  .cover-tracks img{
    border-radius: 5px;
    width: 50vw;
  }

  #img-canvas{
    width: 50vw;
    height: 50vw;
  }

  .gender-g{
    font-size: 0.8rem;
  }
  
  
  .block-music-control{
    width: 100%;
    padding-top: 1.5rem;
  } 

  .title-track {
    font-size: 4vw;
  }

  .title-album,
  .title-artist {
    font-size: 3vw;
  }

  .container-title-track{
    width: 90%;
  }

  .title-track,
  .title-album,
  .title-artist{
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
    width: 90%;
    margin: 0 auto 0 auto;
  }
  
  .search-track-title,
  .search-artist-title{
  width: 60vw;

}

}

@media screen and (max-width: 500px) {
  .search-track-title,
  .search-artist-title{
  width: 50vw;
  }

}
